// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#show-comments-table {
	text-align: center;

	th {
		padding: 10px;
	}

	td {
		padding: 10px;
	}
}